---
http_interactions:
- request:
    method: get
    uri: http://prod.api.pvp.net/api/lol/na/v1.2/stats/by-summoner/31640242/ranked?api_key=<API_KEY>&season=SEASON3
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"summonerId":31640242,"modifyDate":1388362730000,"champions":[{"id":110,"name":"Varus","stats":{"totalSessionsPlayed":2,"totalSessionsLost":1,"totalSessionsWon":1,"totalChampionKills":20,"totalDamageDealt":228794,"totalDamageTaken":30397,"mostChampionKillsPerSession":15,"totalMinionKills":281,"totalDoubleKills":6,"totalTripleKills":1,"totalQuadraKills":0,"totalPentaKills":0,"totalUnrealKills":0,"totalGoldEarned":22958,"mostSpellsCast":0,"totalTurretsKilled":1,"totalPhysicalDamageDealt":211370,"totalMagicDamageDealt":16341,"totalFirstBlood":0,"totalAssists":18,"maxChampionsKilled":15}},{"id":143,"name":"Zyra","stats":{"totalSessionsPlayed":2,"totalSessionsLost":2,"totalSessionsWon":0,"totalChampionKills":5,"totalDamageDealt":42692,"totalDamageTaken":16917,"mostChampionKillsPerSession":4,"totalMinionKills":47,"totalDoubleKills":1,"totalTripleKills":0,"totalQuadraKills":0,"totalPentaKills":0,"totalUnrealKills":0,"totalGoldEarned":10400,"mostSpellsCast":0,"totalTurretsKilled":0,"totalPhysicalDamageDealt":4513,"totalMagicDamageDealt":36663,"totalFirstBlood":0,"totalAssists":4[...]
