---
http_interactions:
- request:
    method: get
    uri: http://prod.api.pvp.net/api/lol/na/v1.2/summoner/by-name/idea?api_key=
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"status": {"message": "Missing api key", "status_code": 401}}'
  recorded_at: Fri, 27 Dec 2013 09:22:21 GMT
- request:
    method: get
    uri: http://prod.api.pvp.net/api/lol/na/v1.2/summoner/by-name/idea?api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"id":31640242,"name":"Idea","profileIconId":540,"summonerLevel":30,"revisionDate":1388101412000}'
  recorded_at: Fri, 27 Dec 2013 09:32:46 GMT
- request:
    method: get
    uri: http://prod.api.pvp.net/api/lol/na/v1.2/game/by-summoner/31640242/recent?api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"summonerId":31640242,"games":[{"gameId":1213732694,"invalid":false,"gameMode":"ARAM","gameType":"MATCHED_GAME","subType":"ARAM_UNRANKED_5x5","mapId":12,"teamId":100,"championId":6,"spell1":21,"spell2":4,"level":30,"createDate":1388127366139,"fellowPlayers":[{"summonerId":329352,"teamId":100,"championId":11},{"summonerId":40790714,"teamId":100,"championId":22},{"summonerId":22971661,"teamId":200,"championId":39},{"summonerId":21022520,"teamId":200,"championId":114},{"summonerId":19405917,"teamId":200,"championId":99},{"summonerId":31570201,"teamId":100,"championId":69},{"summonerId":19894705,"teamId":100,"championId":14},{"summonerId":21285342,"teamId":200,"championId":38},{"summonerId":21134449,"teamId":200,"championId":36}],"statistics":[{"id":1,"name":"LEVEL","value":18},{"id":2,"name":"GOLD_EARNED","value":12482},{"id":4,"name":"NUM_DEATHS","value":10},{"id":6,"name":"TURRETS_KILLED","value":1},{"id":7,"name":"MINIONS_KILLED","value":24},{"id":8,"name":"CHAMPIONS_KILLED","value":8},{"id":9,"name":"GOLD_SPENT","value":7000},{"id":10,"name":"TOTAL_DAMAGE_DEALT","value":40020},{"id":11,"name":"TOTAL_DAMAGE_TAKEN","value":30399},{"id":20,"name":"KILLING_SPREES","value":1},{"id":23,"name":"WIN","value":1},{"id":22,"name":"LARGEST_KILLING_SPREE","value":3},{"id":[...]
