---
http_interactions:
- request:
    method: get
    uri: http://prod.api.pvp.net/api/lol/na/v1.2/summoner/31640242,%2023893133/name?api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"summoners":[{"id":31640242,"name":"Idea"},{"id":23893133,"name":"Semiel"}]}'
  recorded_at: Tue, 31 Dec 2013 14:40:29 GMT
recorded_with: VCR 2.8.0
