---
http_interactions:
- request:
    method: get
    uri: http://prod.api.pvp.net/api/lol/na/v1.2/stats/by-summoner/31640242/summary?api_key=<API_KEY>&season=SEASON3
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"summonerId":31640242,"playerStatSummaries":[{"playerStatSummaryType":"AramUnranked5x5","wins":298,"losses":0,"modifyDate":1388607209000,"aggregatedStats":{"totalChampionKills":5830,"totalTurretsKilled":281,"totalAssists":11977}},{"playerStatSummaryType":"CoopVsAI","wins":163,"losses":0,"modifyDate":1334807231000,"aggregatedStats":{"totalChampionKills":1676,"totalMinionKills":16336,"totalTurretsKilled":227,"totalNeutralMinionsKilled":4274,"totalAssists":2312,"maxChampionsKilled":11,"averageNodeCapture":14,"averageNodeNeutralize":10,"averageTeamObjective":2,"averageTotalPlayerScore":1670,"averageCombatPlayerScore":393,"averageObjectivePlayerScore":1277,"averageNodeCaptureAssist":0,"averageNodeNeutralizeAssist":2,"maxNodeCapture":14,"maxNodeNeutralize":10,"maxTeamObjective":2,"maxTotalPlayerScore":1670,"maxCombatPlayerScore":393,"maxObjectivePlayerScore":1277,"maxNodeCaptureAssist":0,"maxNodeNeutralizeAssist":2,"totalNodeNeutralize":10,"totalNodeCapture":14,"averageChampionsKilled":11,"averageNumDeaths":2,"averageAssists":3,"maxAssists":3}},{"playerStatSummaryType":"FirstBlood2x2","wins":7,"losses":0,"modifyDate":1388439452000,"aggregatedStats":{}},{"playerStatSummaryType":"OdinUnranked","wins":3,"losses":0,"modifyDate":1388073353000,"aggregatedStats":{"totalChampionKills":49,"totalAssists":21,"maxChampionsKilled":15,"averageNodeCapture":6,"averageNodeNeutralize":4,"averageTeamObjective":1,"averageTotalPlayerScore":1206,"averageCombatPlayerScore":483,"averageObjectivePlayerScore":723,"averageNodeCaptureAssist":0,"averageNodeNeu[...]
