---
http_interactions:
- request:
    method: get
    uri: http://prod.api.pvp.net/api/lol/euw/v1.1/summoner/by-name/Froggen?api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"id":19531813,"name":"Froggen","profileIconId":562,"summonerLevel":30,"revisionDate":1387207626000,"revisionDateStr":"12/16/2013
        03:27 PM UTC"}'
  recorded_at: Tue, 17 Dec 2013 08:52:06 GMT
recorded_with: VCR 2.8.0
