---
http_interactions:
- request:
    method: get
    uri: http://prod.api.pvp.net/api/lol/na/v1.1/champion/?api_key=<API_KEY>&freeToPlay=true
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"champions":[{"id":1,"name":"Annie","active":true,"attackRank":2,"defenseRank":3,"magicRank":10,"difficultyRank":4,"botEnabled":true,"freeToPlay":true,"botMmEnabled":true,"rankedPlayEnabled":true},{"id":22,"name":"Ashe","active":true,"attackRank":7,"defenseRank":3,"magicRank":2,"difficultyRank":4,"botEnabled":true,"freeToPlay":true,"botMmEnabled":true,"rankedPlayEnabled":true},{"id":119,"name":"Draven","active":true,"attackRank":9,"defenseRank":3,"magicRank":1,"difficultyRank":10,"botEnabled":false,"freeToPlay":true,"botMmEnabled":false,"rankedPlayEnabled":true},{"id":25,"name":"Morgana","active":true,"attackRank":1,"defenseRank":6,"magicRank":8,"difficultyRank":6,"botEnabled":true,[...]
