---
http_interactions:
- request:
    method: get
    uri: http://prod.api.pvp.net/api/lol/na/v1.1/summoner/by-name/BestRivenNA?api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"id":32400810,"name":"Best Riven NA","profileIconId":508,"summonerLevel":30,"revisionDate":1386729379000,"revisionDateStr":"12/11/2013
        02:36 AM UTC"}'
  recorded_at: Thu, 12 Dec 2013 10:36:31 GMT
recorded_with: VCR 2.8.0
