---
http_interactions:
- request:
    method: get
    uri: http://prod.api.pvp.net/api/lol/na/v1.2/game/by-summoner/48686086/recent?api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"summonerId":48686086,"games":[{"gameId":1158249668,"invalid":false,"gameMode":"CLASSIC","gameType":"MATCHED_GAME","subType":"NORMAL","mapId":1,"teamId":200,"championId":110,"spell1":21,"spell2":6,"level":7,"createDate":1384474677146,"fellowPlayers":[{"summonerId":49249716,"teamId":100,"championId":99},{"summonerId":38278679,"teamId":100,"championId":115},{"summonerId":49175080,"teamId":200,"championId":20},{"summonerId":41877847,"teamId":100,"championId":267},{"summonerId":47463420,"teamId":200,"championId":115},{"summonerId":45557293,"teamId":200,"championId":92},{"summonerId":48641805,"teamId":200,"championId":22},{"summonerId":47484463,"teamId":100,"championId":22},{"summonerId":48549943,"teamId":100,"championId":92}],"statistics":[{"id":1,"name":"LEVEL","value":16},{"id":2,"name":"GOLD_EARNED","value":11270},{"id":4,"name":"NUM_DEATHS","value":6},{"id":7,"name":"MINIONS_KILLED","value":140},{"id":8,"name":"CHAMPIONS_KILLED","value":7},{"id":9,"name":"GOLD_SPENT","value":9120},{"id":10,"name":"TOTAL_DAMAGE_DEALT","value":93915},{"id":11,"name":"TOTAL_DAMAGE_TAKEN","value":24643},{"id":20,"name":"KILLING_SPREES","value":2},{"id":22,"name":"LARGEST_KILLING_SPREE","value":3},{"id":25,"name":"LOSE","value":1},{"id":93,"name":"ITEM5","value":3086},{"id":24,"[...]
