---
http_interactions:
- request:
    method: get
    uri: http://prod.api.pvp.net/api/lol/na/v1.1/summoner/by-name/idea?api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":31640242,"name":"Idea","profileIconId":540,"summonerLevel":30,"revisionDate":1387322053000,"revisionDateStr":"12/17/2013
        11:14 PM UTC"}'
  recorded_at: Sat, 21 Dec 2013 04:35:57 GMT
- request:
    method: get
    uri: http://prod.api.pvp.net/api/lol/na/v1.1/game/by-summoner/31640242/recent?api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"summonerId":31640242,"games":[{"gameId":1196693444,"invalid":false,"gameMode":"ARAM","gameType":"MATCHED_GAME","subType":"ARAM_UNRANKED_5x5","mapId":12,"teamId":200,"championId":96,"spell1":14,"spell2":4,"level":30,"createDate":1387181138027,"fellowPlayers":[{"summonerId":39035808,"teamId":200,"championId":89},{"summonerId":40790714,"teamId":200,"championId":37},{"summonerId":43083658,"teamId":200,"championId":53},{"summonerId":31511704,"teamId":100,"championId":104},{"summonerId":27711942,"teamId":100,"championId":4},{"summonerId":37319772,"teamId":100,"championId":69},{"summonerId":27754688,"teamId":100,"championId":7},{"summonerId":30761536,"teamId":100,"championId":1},{"summonerId":24327537,"teamId":200,"championId":39}],"statistics":[{"id":1,"name":"LEVEL","value":17},{"id":2,"name":"GOLD_EARNED","value":12239},{"id":4,"name":"NUM_DEATHS","value":3},{"id":5,"name":"BARRACKS_KILLED","value":1},{"id":6,"name":"TURRETS_KILLED","value":1},{"id":7,"name":"MINIONS_KILLED","value":76},{"id":8,"name":"CHAMPIONS_KILLED","value":7},{"id":9,"name":"GOLD_SPENT","value":5100},{"id":10,"name":"TOTAL_DAMAGE_DEALT","value":74125},{"id":11,"name":"TOTAL_DAMAGE_TAKEN","value":16005},{"id":20,"name":"KILLING_SPREES","value":2},{"id":23,"name":"WIN","value":1},{"id":22,"name[...]
