---
http_interactions:
- request:
    method: get
    uri: http://prod.api.pvp.net/api/lol/euw/v1.2/summoner/by-name/Froggen?api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":19531813,"name":"Froggen","profileIconId":562,"summonerLevel":30,"revisionDate":1387383430000}'
  recorded_at: Sat, 21 Dec 2013 08:53:46 GMT
recorded_with: VCR 2.8.0
