---
http_interactions:
- request:
    method: get
    uri: http://prod.api.pvp.net/api/lol/na/v1.2/summoner/by-name/NotablePenguin?api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"id":48686086,"name":"Notable Penguin","profileIconId":19,"summonerLevel":7,"revisionDate":1384712471000}'
  recorded_at: Thu, 02 Jan 2014 12:47:51 GMT
- request:
    method: get
    uri: http://prod.api.pvp.net/api/lol/na/v1.2/stats/by-summoner/48686086/summary?api_key=<API_KEY>&season=
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"summonerId":48686086,"playerStatSummaries":[{"playerStatSummaryType":"CoopVsAI","wins":1,"losses":0,"modifyDate":1382823587000,"aggregatedStats":{"totalChampionKills":4,"totalMinionKills":78,"totalTurretsKilled":2,"totalNeutralMinionsKilled":8,"totalAssists":10}},{"playerStatSummaryType":"OdinUnranked","wins":0,"losses":0,"modifyDate":1383847046000,"aggregatedStats":{}},{"playerStatSummaryType":"Unranked","wins":10,"losses":0,"modifyDate":1384712471000,"aggregatedStats":{"totalChampionKills":138,"totalMinionKills":2915,"totalTurretsKilled":22,"totalNeutralMinionsKilled":195,"totalAssists":111}},{"playerStatSummaryType":"Unranked3x3","wins":0,"losses":0,"modifyDate":1383847046000,"aggregatedStats":{}}]}'
  recorded_at: Thu, 02 Jan 2014 12:47:51 GMT
recorded_with: VCR 2.8.0
