---
http_interactions:
- request:
    method: get
    uri: http://prod.api.pvp.net/api/lol/na/v2.2/team/by-summoner/31640242?api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "[ {\n  \"fullId\" : \"TEAM-bf6bb970-f4cc-11e2-946c-782bcb4d1861\",\n
        \ \"name\" : \"BootyWhacknBootyWhackers\",\n  \"tag\" : \"Whackn\",\n  \"status\"
        : \"RANKED\",\n  \"teamStatSummary\" : {\n    \"fullId\" : \"TEAM-bf6bb970-f4cc-11e2-946c-782bcb4d1861\",\n
        \   \"teamStatDetails\" : [ {\n      \"fullId\" : \"TEAM-bf6bb970-f4cc-11e2-946c-782bcb4d1861\",\n
        \     \"teamStatType\" : \"RANKED_TEAM_3x3\",\n      \"wins\" : 28,\n      \"losses\"
        : 21,\n      \"averageGamesPlayed\" : 0\n    }, {\n      \"fullId\" : \"TEAM-bf6bb970-f4cc-11e2-946c-782bcb4d1861\",\n
        \     \"teamStatType\" : \"RANKED_TEAM_5x5\",\n      \"wins\" : 0,\n      \"losses\"
        : 0,\n      \"averageGamesPlayed\" : 0\n    } ]\n  },\n  \"roster\" : {\n
        \   \"ownerId\" : 19894705,\n    \"memberList\" : [ {\n      \"playerId\"
        : 19894705,\n      \"joinDate\" : 1374717099000,\n      \"inviteDate\" : 1374717099000,\n
        \     \"status\" : \"MEMBER\"\n    }, {\n      \"playerId\" : 31640242,\n
        \     \"joinDate\" : 1374718379000,\n      \"inviteDate\" : 1374717178000,\n
        \     \"status\" : \"MEMBER\"\n    }, {\n      \"playerId\" : 22373299,\n
        \     \"joinDate\" : 1374717188000,\n      \"inviteDate\" : 1374717184000,\n
        \     \"status\" : \"MEMBER\"\n    }, {\n      \"playerId\" : 19362553,\n
        \     \"joinDate\" : 1374719461000,\n      \"inviteDate\" : 1374717211000,\n
        \     \"status\" : \"MEMBER\"\n    }, {\n      \"playerId\" : 23973640,\n
        \     \"joinDate\" : 1376742945000,\n      \"inviteDate\" : 1376526988000,\n
        \     \"status\" : \"MEMBER\"\n    }, {\n      \"playerId\" : 29290874,\n
        \     \"joinDate\" : 1377413310000,\n      \"inviteDate\" : 1377413307000,\n
        \     \"status\" : \"MEMBER\"\n    }, {\n      \"playerId\" : 181,\n      \"joinDate\"
        : 1383964912000,\n      \"inviteDate\" : 1383964899000,\n      \"status\"
        : \"MEMBER\"\n    } ]\n  },\n  \"matchHistory\" : [ {\n    \"kills\" : 10,\n
        \   \"deaths\" : 16,\n    \"opposingTeamKills\" : 16,\n    \"assists\" : 7,\n
        \   \"gameMode\" : \"CLASSIC\",\n    \"opposingTeamName\" : \"Sams Sleeping
        Deth\",\n    \"win\" : false,\n    \"invalid\" : false,\n    \"mapId\" : 10,\n
        \   \"gameId\" : 1150721557\n  }, {\n    \"kills\" : 27,\n    \"deaths\" :
        17,\n    \"opposingTeamKills\" : 17,\n    \"assists\" : 40,\n    \"gameMode\"
        : \"CLASSIC\",\n    \"opposingTeamName\" : \"Play For Gold\",\n    \"win\"
        : true,\n    \"invalid\" : false,\n    \"mapId\" : 10,\n    \"gameId\" : 1150566342\n
        \ }, {\n    \"kills\" : 7,\n    \"deaths\" : 24,\n    \"opposingTeamKills\"
        : 24,\n    \"assists\" : 9,\n    \"gameMode\" : \"CLASSIC\",\n    \"opposingTeamName\"[...]
