---
http_interactions:
- request:
    method: get
    uri: http://prod.api.pvp.net/api/lol/na/v1.2/summoner/by-name/semiel?api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":23893133,"name":"Semiel","profileIconId":562,"summonerLevel":30,"revisionDate":1387487462000}'
  recorded_at: Sat, 21 Dec 2013 08:37:18 GMT
- request:
    method: get
    uri: http://prod.api.pvp.net/api/lol/na/v1.2/summoner/23893133/runes?api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"summonerId":23893133,"pages":[{"id":14274702,"name":"AD/Def (Jayce/Yorick)","current":false,"slots":[{"runeSlotId":29,"rune":{"id":5335,"name":"Greater
        Quintessence of Attack Damage","description":"+2.25 attack damage","tier":3}},{"runeSlotId":28,"rune":{"id":5335,"name":"Greater
        Quintessence of Attack Damage","description":"+2.25 attack damage","tier":3}},{"runeSlotId":21,"rune":{"id":5290,"name":"Greater
        Glyph of Scaling Magic Resist","description":"+0.15 magic resist per level
        (+2.7 at champion level 18)","tier":3}},{"runeSlotId":22,"rune":{"id":5290,"name":"Greater
        Glyph of Scaling Magic Resist","description":"+0.15 magic resist per level
        (+2.7 at champion level 18)","tier"[...]
[...]
