---
http_interactions:
- request:
    method: get
    uri: http://prod.api.pvp.net/api/lol/na/v1.2/summoner/by-name/semiel?api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":23893133,"name":"Semiel","profileIconId":562,"summonerLevel":30,"revisionDate":1387487462000}'
  recorded_at: Sat, 21 Dec 2013 08:37:17 GMT
- request:
    method: get
    uri: http://prod.api.pvp.net/api/lol/na/v1.2/summoner/23893133/masteries?api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"summonerId":23893133,"pages":[{"id":35512964,"name":"Mastery Page
        1","current":false,"talents":[{"id":4212,"name":"Recovery","rank":2},{"id":4242,"name":"Swiftness","rank":1},{"id":4213,"name":"Enchanted
        Armor","rank":2},{"id":4211,"name":"Block","rank":1},{"id":4244,"name":"Evasive","rank":1},{"id":4333,"name":"Vampirism","rank":1},{"id":4234,"name":"Resistance","rank":3},{"id":4322,"name":"Summoner''s
        Insight","rank":1},{"id":4323,"name":"Strength of Spirit","rank":1},{"id":4222,"name":"Veteran''s
        Scars","rank":3},{"id":4252,"name":"Legendary Guardian","rank":4},{"id":4262,"name":"Tenacious","rank":[...]
[...]
