---
http_interactions:
- request:
    method: get
    uri: http://prod.api.pvp.net/api/lol/na/v1.1/game/by-summoner/23893133/recent?api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"summonerId":23893133,"games":[{"gameId":1187614620,"invalid":false,"gameMode":"ARAM","gameType":"MATCHED_GAME","subType":"ARAM_UNRANKED_5x5","mapId":12,"teamId":200,"championId":222,"spell1":4,"spell2":7,"level":30,"createDate":1386538566917,"createDateStr":1386538566917,"fellowPlayers":[{"summonerId":35731311,"teamId":100,"championId":33},{"summonerId":21770990,"teamId":100,"championId":84},{"summonerId":30063508,"teamId":200,"championId":113},{"summonerId":387353,"teamId":100,"championId":29},{"summonerId":19351200,"teamId":200,"championId":32},{"summonerId":21715709,"teamId":200,"championId":9},{"summonerId":30028273,"teamId":200,"championId":18},{"summonerId":28424953,"teamId":100,"championId":15},{"summonerId":28697906,"teamId":100,"championId":12}],"statistics":[{"id":1,"name":"LEVEL","value":16},{"id":2,"name":"GOLD_EARNED","value":9589},{"id":4,"name":"NUM_DEATHS","value":9},{"id":6,"name":"TURRETS_KILLED","value":2},{"id":7,"name":"MINIONS_KILLED","value":45},{"id":8,"name":"CHAMPIONS_KILLED","value":5},{"id":9,"name":"GOLD_SPENT","value":7470},{"id":10,"name":"TOTAL_DAMAGE_DEALT","value":50749},{"id":11,"name":"TOTAL_DAMAGE_TAKEN","value":18131},{"id":16,"name":"DOUBLE_KILLS","value":1},{"id":20,"name":"KILLING_SPREES","value":1},{"id":23,"name":"WIN","value":1},{"id":22,"name":"[...]
- request:
    method: get
    uri: http://prod.api.pvp.net/api/lol/na/v1.1/summoner/35731311?api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"id":35731311,"name":"DerpyFoo","profileIconId":582,"summonerLevel":30,"revisionDate":1387108688000,"revisionDateStr":"12/15/2013
        11:58 AM UTC"}'
  recorded_at: Mon, 16 Dec 2013 07:31:11 GMT
recorded_with: VCR 2.8.0
