---
http_interactions:
- request:
    method: get
    uri: http://prod.api.pvp.net/api/lol/na/v1.2/game/by-summoner/23893133/recent?api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"summonerId":23893133,"games":[{"gameId":1201249948,"invalid":false,"gameMode":"FIRSTBLOOD","gameType":"MATCHED_GAME","subType":"FIRSTBLOOD_1x1","mapId":12,"teamId":200,"championId":51,"spell1":4,"spell2":7,"level":30,"createDate":1387514576821,"fellowPlayers":[{"summonerId":32433642,"teamId":100,"championId":1}],"statistics":[{"id":1,"name":"LEVEL","value":5},{"id":2,"name":"GOLD_EARNED","value":1617},{"id":4,"name":"NUM_DEATHS","value":1},{"id":7,"name":"MINIONS_KILLED","value":27},{"id":9,"name":"GOLD_SPENT","value":870},{"id":10,"name":"TOTAL_DAMAGE_DEALT","value":8519},{"id":11,"name":"TOTAL_DAMAGE_TAKEN","value":2257},{"id":25,"name":"LOSE","value":1},{"id":24,"name":"TEAM","value":200},{"id":89,"name":"ITEM1","value":2003},{"id":88,"name":"ITEM0","value":1075},{"id":31,"name":"PHYSICAL_DAMAGE_DEALT_PLAYER","value":8324},{"id":90,"name":"ITEM[...]
- request:
    method: get
    uri: http://prod.api.pvp.net/api/lol/na/v1.2/summoner/32433642?api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":32433642,"name":"DARKNVADR","profileIconId":588,"summonerLevel":30,"revisionDate":1387551148000}'
  recorded_at: Sat, 21 Dec 2013 08:37:20 GMT
- request:
    method: get
    uri: http://prod.api.pvp.net/api/lol/na/v1.1/champion?api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"champions":[{"id":266,"name":"Aatrox","active":true,"attackRank":8,"defenseRank":4,"magicRank":3,"difficultyRank":6,"botEnabled":false,"freeToPlay":false,"botMmEnabled":false,"rankedPlayEnabled":true},{"id":103,"name":"Ahri","active":true,"attackRank":3,"defenseRank":4,"magicRank":8,"difficultyRank":8,"botEnabled":false,"freeToPlay":false,"botMmEnabled":false,"rankedPlayEnabled":true},{"id":84,"name":"Akali","active":true,"attackRank":5,"defenseRank":3,"magicRank":8,"difficultyRank":6,"botEnabled":false,"freeToPlay":false,"botMmEnabled":false,"rankedPlayEnabled":true},{"id":12,"name":"Alistar","active":true,"attackRank":6,"defenseRank":9,"magicRank":5,"difficultyRank":8,"botEnabled":fal[...]
